@{
    ViewBag.Title = "Home Page";    
}

<div>
    <h1>Hash Result</h1>
    <p">Output of the hash example (Used arguments: N:16384, r:8, p:1, passwd:secret, salt:rktYml0MIp9TC9u6Ny6uqw==)</p>
    <p>Base64 notation: @ViewBag.Base64Hash</p>
    <p>Hexadecimal notation: @ViewBag.HexHash</p>
</div>
<div>
    <h1>Ping Operation: Nummervoorziening status</h1>
    @if (ViewBag.IsOnline) {
        <p>Nummervoorziening is up and running</p>
    }
    else
    {
        <p>Nummervoorziening seems to be offline</p>
    }
    <p>Current time on the server is: @ViewBag.DateTimeOnServer</p>
    <p>Current SchoolID version: @ViewBag.SchoolIDVersion</p>
</div>
<div>
    <h1>Ketenpartners</h1>
    @foreach(string chain in ViewBag.Chains)
    {
        <p>@chain</p>
    }
</div>
<div>
    <h1>Sectoren</h1>
    @foreach (string sector in ViewBag.Sectors)
    {
        <p>@sector</p>
    }
</div>